.sticky-menu-container {
  position: sticky;
  top: 60px;
}

@media only screen and (max-width: 578px) {
  .sticky-menu-container {
    text-align: center;
    top: 0px;
    width: 100%;
    position: relative;
  }
}
