.container {
  display: flex;
}

.home-sticky-menu-container {
  flex: 1.1;
  position: sticky;
  top: 0;
}

.home-scrollable-menu-container {
  flex: 1;
  display: flex;
  justify-content: left;
}

.footer {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
