.experience-card-container {
  margin-top: 60px;
  display: inline-flex;
}

.date-container {
  flex: 1;
  padding-left: 5px;
}

.description-container {
  flex: 2;
  margin-top: -8px;
}

.props-date {
  font-size: 14px;
  opacity: 60%;
}

.props-description {
  font-size: 15px;
  opacity: 60%;
  margin-bottom: 20px;
}

.props-skills {
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  padding: 6px;
  font-size: 14px;
  margin-right: 5px;
  margin-top: -10px;
}

.experience-card-container:hover {
  border-style: solid;
  border-radius: 10px;
  opacity: 80%;
  background-color: rgb(25, 25, 25);
}

.date-container-mobile {
  display: none;
}

@media only screen and (max-width: 578px) {
  .experience-card-container {
    display: flex;
    flex-direction: column;
  }

  .experience-description {
    position: static;
  }

  .date-container {
    display: none;
  }

  .date-container-mobile {
    display: block;
  }

  .experience-card-container:hover {
    border-style: none; /* Remove border */
    border-radius: 0; /* Reset border radius */
    opacity: 100%; /* Reset opacity */
    background-color: initial; /* Reset background color */
  }
}
